__pycache__/
.pytest_cache/
*.pyc
.env
venv/
.venv/
server/logs/
*.log
certs/*.key
todo

server/certs/*.key
server/certs/*.crt
.idea/vcs.xml
.idea/STMP-Secure-Task-Management-Protocol.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
